.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.stickyWrapper {
  position: sticky;
  top: 10vh;
  width: 100%;
  transform-origin: center top;
  will-change: transform;
  transition: transform 0.1s ease-out;
}
